@page "/fetchalldata"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment

<PageTitle>Diplomapp</PageTitle>

<p>Info about tracks</p>

@if (MusicTracks == null)
{
    <p><em>There are no tracks...</em></p>
}
else
{
<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>Kind</th>
                <th>Collection Name</th>
                <th>Track Name</th>
                <th>Collection Price</th>
                <th>Track Price</th>
                <th>Primary GenreName</th>                
                <th>Track Count</th>
                <th>Track Number</th>
                <th>Release Date</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var track in MusicTracks)
            {
                <tr>                    
                    <td>@track.Kind</td>
                    <td>@track.CollectionName</td>
                    <td>@track.TrackName</td>
                    <td>@track.CollectionPrice</td>                    
                    <td>@track.TrackPrice</td>
                    <td>@track.PrimaryGenreName</td>                    
                    <td>@track.TrackCount</td>
                    <td>@track.TrackNumber</td>
                    <td>@track.ReleaseDate.ToShortDateString()</td>                    
                </tr>
            }
        </tbody>
    </table>
</div>
}


@code {    
    
    private IEnumerable<MusicTrack> ?MusicTracks;

    protected override async Task OnInitializedAsync()
    {       
        if (HostEnvironment.Environment.ToString() != "Development") {
            MusicTracks = await Http.GetFromJsonAsync<IEnumerable<MusicTrack>>("/Track/GetAllTracks"); 
        }
        else
        {
            MusicTracks = await Http.GetFromJsonAsync<IEnumerable<MusicTrack>>("http://localhost:5252/Track/GetAllTracks");
        };              
    }  
    
}

