@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Diplomapp</PageTitle>

<h1>Pink Floyd 0.1.5</h1>

<p>Info about albums</p>

@if (MusicTracks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Kind</th>
                <th>CollectionPrice</th>
                <th>TrackName</th>
                <th>CollectionPrice</th>
                <th>TrackPrice</th>
                <th>ReleaseDate</th>
                <th>TrackCount</th>
                <th>TrackNumber</th>
                <th>PrimaryGenreName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in MusicTracks)
            {
                <tr>                    
                    <td>@track.Kind</td>
                    <td>@track.CollectionPrice</td>
                    <td>@track.TrackName</td>
                    <td>@track.CollectionPrice</td>
                    <td>@track.TrackPrice</td>
                    <td>@track.ReleaseDate.ToShortDateString()</td>
                    <td>@track.TrackCount</td>
                    <td>@track.TrackNumber</td>
                    <td>@track.PrimaryGenreName</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {    
    
    private IEnumerable<MusicTrack> ?MusicTracks;

    protected override async Task OnInitializedAsync()
    {       
        MusicTracks = await Http.GetFromJsonAsync<IEnumerable<MusicTrack>>("/Track/GetAllTracks"); 
    }  
}
